#calculator-item {
  text-decoration: underline;
}

body {
  background-color: rgb(186, 201, 255) !important;
}

.card {
  margin: 1%;
  padding: 1%;
  align-items: center;
  box-shadow: 2px 2px 3px rgb(168, 168, 168);
}

.card img {
  width: 50%;
  height: 50%;
}

#results {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
}

#form {
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% 15%;
  padding: 1%;
}
#form span{
padding-left: 0;
}

.output {
  -webkit-appearance: none;
  border: 0;
}

.output:focus {
  outline: none !important;
}

.row{
  flex-wrap: nowrap !important;
}

@media(max-width: 650px) {
  .card {
    margin: 2%;

  }

  .container {
    font-size: 13px;
  }

  #form {
    margin: 5%;
    text-align: center;
  }

  h2 {
    font-size: 15px;
  }

}