#calculator-item {
	text-decoration: underline;
}
body {
  background-color: rgb(132, 186, 252) !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 5px;
  max-width: 900px;
  width: 90%;
  margin: 4% auto 3%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#calculator-container label {
  width: 80%;
  padding-top: 10%;
}

.input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;}

#output {
  background-image: rgb(220, 220, 220);
  margin-top: 3%;
}

input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 100%;
  max-width: 100%;
  margin: 24px 0 16px;
  transition: box-shadow 0.2s ease-in-out;
  
} @media screen and (max-width: 600px) {
  #calculator-container {
    width: 95%; 
  }

  #calculator-container label {
    width: 100%;
  }

  .input {
    width: 100%; 
  }
}

input:not(:active) + #h4-container h4 {
opacity: 0;
margin-top: -50px;
pointer-events: none;
}
#results {
  display: none;
  justify-content: space-between;
}

.panel {
  width: 20%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.pnl-purple {
  background-color: rgb(209, 93, 209);
}

.pnl-red {
  background-color: rgb(253, 81, 81);
}

.pnl-green {
  background-color: rgb(79, 195, 79);
}

.pnl-blue {
  background-color: rgb(77, 77, 233);
}

#calculator-container label {
  width: 80%;
  padding-top: 10%;
}









