#index-item {
	text-decoration: underline;
}

body {
	background-color: #12128e !important;
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	min-height: 100vh;
	background-attachment: fixed;
}

#landing-page {
	color: white;
	padding-left: 5%;
}

#start-button {
	padding: 10px 20px;
	border: none;
	font-size: 17px;
	color: #fff !important;
	border-radius: 7px;
	letter-spacing: 4px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.5s;
	transition-property: box-shadow;
}

#start-button {
	background: #009CDE;
	box-shadow: 0 0 20px rgb(0, 140, 255);
}

#start-button:hover {
	box-shadow: 0 0 5px rgb(0, 140, 255),
		0 0 25px rgb(0, 140, 255),
		0 0 50px rgb(0, 140, 255),
		0 0 70px rgb(0, 140, 255);
}

#start-button a {
	color: white;
	text-decoration: none;
}

#title {
	font-family: "Unbounded", Arial, Helvetica, sans-serif;
	font-size: 40px;
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(21, 170, 224));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

#paragraph {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width: 1px) and (max-width: 400px) {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.button {
		display: flex;
		margin-top: 4%;
	}

	#landing-page-mobile {
		width: 40%;
		margin: 1%;
	}

	#landing-page-image {
		display: none;
	}

	#title {
		font-size: 15px;
		margin-top: 10%;
	}

	#paragraph {
		font-size: 10px;
		width: 90%;
	}

}

@media only screen and (min-width: 401px) and (max-width: 766px) {
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	#landing-page-image {
		display: none;
	}

	#landing-page-mobile {
		width: 50%;
		margin-bottom: 2%;
	}

	#title {
		font-size: 25px;
		margin-top: 6%;
	}

	#paragraph {
		width: 95%;
		font-size: 15px;
	}

	.button {
		display: flex;
		margin-top: 3%;
		margin-left: 5%;

	}

}

@media only screen and (min-width: 767px) and (max-width: 1043px) {

	#landing-page-image {
		width: 170%;
		margin-top: 2%;
	}

	#landing-page-mobile {
		display: none;
	}

	#title {
		font-size: 30px;
		margin-top: 5%;
	}

	#paragraph {
		text-align: left;
		width: 70%;
		margin-top: 2%;
	}

	#start-button {
		margin-left: 5%;
		margin-top: 5%;
	}

}

@media only screen and (min-width: 1044px) {
	#landing-page-image {
		width: 170%;
		margin-top: 2%;
	}

	#landing-page-mobile {
		display: none;
	}

	#title {
		font-size: 55px;
	}

	#paragraph {
		text-align: left;
		width: 70%;
		margin-top: 2%;
	}

	#start-button {
		margin-left: 5%;
	}
}