#site-map-item {
  text-decoration: underline;
}

body {
  background-color: rgb(186, 201, 255) !important;
}

.main-card {
  background-color: #0165B9;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#map a {
  color: white !important;
  text-decoration: none !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sub-card {
  background-color: rgb(88, 140, 203);
  border-radius: 15px;
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
}